@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@font-face {
    font-family: 'Karla, bold';
    src: url(../font/Karla-Bold.ttf);
}
@font-face {
    font-family: 'Karla, italic regular';
    src: url(../font/Karla-Italic.ttf);
}
@font-face {
    font-family: 'Karla, medium';
    src: url(../font/Karla-Medium.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 3rem 3rem 1rem 3rem;
    font-family: 'Karla', sans-serif;
    color: #323A45;
}
.grey{
    color: #848484;
    font-size: 1rem;
}
.light, .grey{
    font-family: 'Karla', sans-serif;
}
.italic{
    font-family: 'Karla, italic regular';
}
.fas{
    color: #848484;
    font-size: 0.5rem;
}
a{
    color: unset;
    text-decoration: unset;
    font-family: 'Karla, bold'; 
}
/* header */
header{
    display: flex;
    justify-content: space-between;
}
header nav{
    text-align: right;
}
ul{
    list-style: none;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.712);
}
li{
    padding-bottom: 50px;
}
label{
    font-size: 3rem;
    cursor: pointer;
}
#toggle{
    display: none;
}
/* main */
img{
    width: 100%;
    transition: 1s;
}
img:hover{
    opacity: 0.2;
}
div{
    display: flex;
    justify-content: space-between;
}
h2{
    font-family: 'Karla, medium';
}
main article{
    margin-top: 30px;
}
main article p{
    margin-top: 20px;
}
p{
    font-size: 1.2rem;
}
/* footer */
footer section article{
    margin: 25% auto;
}
footer section article h2{
    margin-bottom: 60px;
}
footer section article p{
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
    }
    label{
        display: block;
    }
    ul{
        display: none;
    }
    #toggle:checked + ul{
        display: block;
    }

}
@media screen and (min-width: 769px) {
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
    .rows{
        grid-column: 1/4;
    }
    header nav ul{
        display: flex;
        gap: 40px
    }
    footer section{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    label{
        display: none;
    }
}